html {
  height: 100%;
  width: 100%;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation: load 1.2s;
  animation-fill-mode: forwards;
  background-color: #0bd;
  z-index: 10000;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: scaleout 1s infinite ease-in-out;
}

@keyframes load {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  75% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #dddddd;
}

header > div {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

div#table-pagination label {
  display: none;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 0.5em;
  margin: 0 2px;
  padding: 0.2em 0.5em;
}

div#table-pagination label:has(input:checked) {
  display: inline-block;
}

div#table-pagination label:first-of-type,
div#table-pagination label:last-of-type {
  display: inline-block;
}

div#table-pagination label:hover {
  background: #ffffcc;
}

div#table-pagination label:has(> input[type="radio"]:checked) {
  display: inline-block;
  border: 1px solid #cccc00;
  background: #ffff66;
}

div#table-pagination input {
  display: none;
}

a.tools {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 0.5em;
  margin: 0 2px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

div.tools-inner,
div.single-filter-modal {
  display: none;
}

main {
  position: relative;
  padding: 72px 0 56px;
}

footer {
  width: 100%;
  height: 56px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: #dddddd;
  padding: 2px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  width: fit-content;
}

thead {
  position: sticky;
  top: 72px;
  background: #eee;
  z-index: 10;
}

thead th {
  background: #eee;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 6em;
}

tbody tr > td {
  background: white;
}

tbody tr > td > p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

tbody tr > td > p:hover {
  overflow: visible;
  white-space: unset;
  text-overflow: unset;
}

tbody tr:nth-child(even) > td {
  background: #fafafa;
}

tbody tr:hover > td {
  background: #ffffcc;
}
/*
th:nth-child(-n + 3),
td:nth-child(-n + 3) {
  position: sticky;
  left: 0;
  z-index: 5;
}
*/
tr.sortable > th {
  cursor: pointer;
  position: relative;
  width: 200px;
}

p.p-label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /*3行以上の内容は切る*/
  overflow: hidden;
}

div.single-ctrl {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

div.single-ctrl * {
  user-select: none;
}

div.single-ctrl > div,
div.single-ctrl > a {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: #fafafa;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  margin: 0 2px;
  cursor: pointer;
}

div.indicator {
}

div.indicator::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 10;
  background-color: #ddd;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

th.ascending,
th.descending {
  background-color: #ffeedd;
}

th.ascending div.indicator::after {
  background-color: #ff6666;
  clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}

th.descending div.indicator::after {
  background-color: #ff6666;
  clip-path: polygon(50% 0%, 100% 50%, 0% 50%);
}

a.single-filter::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 10;
  background-color: #666;
  clip-path: polygon(10% 10%, 90% 10%, 55% 45%, 55% 90%, 45% 90%, 45% 45%);
}

a.single-filter:focus-within {
  z-index: 1;
}

a.single-filter.active {
  background: #ffff66;
}

a.tools:focus-within div.tools-inner,
a.single-filter:focus-within div.single-filter-modal {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 640px;
  max-width: 80%;
  border: #eeffff;
  background: #ffffff;
  box-shadow: 0 0 5px 5px #66666666;
  z-index: 10;
}

div#toggle-cols-modal label {
  display: inline-block;
  margin: 0.1em 1em 0.1em 0;
}

div.single-filter-checkboxes {
  border: 1px solid #999;
  padding: 4px 8px;
  overflow-y: scroll;
  max-height: 50vh;
}

div.single-filter-checkboxes label {
  display: block;
}

div.single-filter-checkboxes label:hover {
  background-color: #ffff99;
}

div.single-filter-checkboxes label:has(> input[type="checkbox"]:checked) {
  background-color: #ffffcc;
}

th:hover {
  background-color: #f5f5f5;
}

/*detail-modal*/
div#detail-modal-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666666cc;
  z-index: 5000;
}

div#detail-modal {
  position: absolute;
  min-width: 50vw;
  max-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  left: 120px;
  right: 120px;
  margin: 72px auto;
  background: #fafafa;
  border-radius: 5px;
  overflow: hidden;
}

div#detail-modal-header {
  height: 2em;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: #fec;
}

div#detail-modal-content {
  padding: 4px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
